@font-face {
  font-family: "Nexa";
  src: url(font/Nexa-Heavy.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Medium.otf);
}

@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Medium.otf);
}

@font-face {
  font-family: "Roboto";
  src: url(font/Roboto-Condensed.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #242424;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: linear-gradient(to right, #2f3032, #000000);
  z-index: 100;
  font-family: "Montserrat", sans-serif;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: #fff;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight:bold;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #cc0000;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider img {
  width: 100%;
  display: none;
  top: 0;
}
img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
/* Featured Section */
.featured {
  padding: 50px 30px;
  text-align: center;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #cc0000;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.filter-button {
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.filter-button.active {
  background-color: #cc0000;
}
.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.car-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  position: relative;
  height: 350px;
}
.car-card img {
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  object-fit: cover;
}
.car-card img:hover {
  filter: drop-shadow(1px 10px 15px #cc0000);
}
.car-card .car-info {
  margin-top: 10px;
}
.car-card .car-info h3 {
  margin: 0;
  font-size: 18px;
  color: #fff;
}
.car-card .car-info p {
  margin: 5px 0;
  color: #aaa;
}
.car-card .car-info .price {
  font-size: 16px;
  font-weight: bold;
  color: #f8f8f8;
}
.car-card .shop {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #cc0000;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.car-card .shop:hover {
  background-color: #f8f8f8;
  color: #cc0000;
}

.car-card .shop a {
  text-decoration: none;
  color: white;
}
.car-card .shop a:hover {
  text-decoration: none;
  color: #cc0000;
}
/* Innovation Section */
.innovation-content {
  background: linear-gradient(to right, #000000, #2f3032);
  max-width: auto;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.text-content {
  padding-top: 30px;
  color: white;
  padding-left: 50px;
  max-width: 500px;
  margin-right: 20px;
}
.header-content {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.title-content {
  font-size: 72px;
  line-height: 1;
  margin-bottom: 20px;
}
.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.button-content {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-bottom: 40px;
}
.button-content i {
  margin-left: 10px;
}
.button-content:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.button-content i:hover {
  color: black;
}
.image-container {
  display: flex;
  padding-top: 0px;
  padding-left: 150px;
  width: 100%;
  max-width: 700px;
}
.image-container img {
  max-width: 100%;
  left: 0;
  object-fit: cover;
  height: auto;
  border-radius: 5px;
}

/*Why Honda*/
.superiority-container {
  min-height: 50vh;
}
.superiority {
  background: linear-gradient(to bottom, #000000, #cc0000);
  padding: 4rem 30px;
  text-align: center;
}

.superiority h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 1px 1px 1px #cc0000;
  position: relative;
}
.superiority h2::after {
  content: " ";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #cc0000;
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.superiority-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.superiority-item {
  flex: 1 1 calc(33.333% - 1.5rem);
  min-height: 200px;
  background: linear-gradient(to bottom, #ffffff, #fff);
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.superiority-item:hover {
  transform: translateY(-10px);
}

.superiority-item h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #cc0000;
}
.superiority-item p {
  font-size: 1rem;
  color: #333;
}
/* Footer */
.footer {
  padding: 40px 20px;
  background: linear-gradient(to top, #000000, #2f3032);
  color: #ffffff;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer__content {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}
.footer__logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.footer__logo i {
  margin-right: 10px;
}
.footer__description {
  margin-top: 10px;
  font-size: 1em;
  color: #b3b3b3;
}
.footer__title {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__links {
  list-style: none;
  padding: 0;
}
.footer__links li {
  margin: 5px 0;
}
.footer__links a {
  color: #b3b3b3;
  text-decoration: none;
}
.footer__links a:hover {
  color: #cc0000;
}
.footer__social {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer__social-link {
  font-size: 1.5em;
  margin: 0 10px;
  color: #b3b3b3;
  text-decoration: none;
}
.footer__social-link:hover {
  color: #cc0000;
}
.footer__copy {
  text-align: center;
  padding: 20px;
  color: #b3b3b3;
  font-size: 0.8em;
}
.footer__dev-link {
  color: #b3b3b3;
  text-decoration: none;
}
.footer__dev-link:hover {
  color: #cc0000;
}

/*scroollbar*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: hsl(219, 4%, 16%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(219, 4%, 24%);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(219, 4%, 32%);
}

/* Scroll Up */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: hsla(0, 0%, 100%, 0.1);
  display: inline-flex;
  padding: 0.45rem;
  border-radius: 0.5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scrollup:hover {
  transform: translateY(-0.28rem);
}

.show-scroll {
  bottom: 3rem;
}

/* Responsive */
/* Responsive untuk navigasi */
@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: #010718;
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}
/* Responsive Design */ 
@media (max-width: 1024px) { 
  .innovation-content {
     flex-direction: column;
    height: auto; padding: 20px;
   } 
   .text-content { 
    padding-left: 0; 
    text-align: center;
    margin: 0 auto; } 
    .title-content { font-size: 48px; } .description { font-size: 14px; } .button-content { margin: 20px auto; } .image-container { padding-left: 0; margin-top: 20px; } } @media (max-width: 768px) { .innovation-content { padding: 15px; } .title-content { font-size: 36px; } .description { font-size: 14px; } .button-content { padding: 8px 15px; font-size: 14px; } } @media (max-width: 480px) { .innovation-content { padding: 10px; } .title-content { font-size: 28px; } .description { font-size: 12px; } .button-content { padding: 5px 10px; font-size: 12px; } .text-content { padding-left: 10px; margin-right: 0; } .image-container { padding-left: 0;}}
@media (max-width: 768px) { 
  .car-grid { 
    grid-template-columns: 1fr;
   } 
  .filter-buttons {
     flex-direction: column;
     } 
  .filter-button { 
    padding: 8px 15px; 
    font-size: 14px;
   }
   .slider{
    margin : 3rem 0 0 0;
  }
   }
 @media (max-width: 480px) { 
  .car-grid {
    grid-template-columns: 1fr;
   } 
  .car-card { 
    padding: 15px; height: auto;
   } 
  .car-card img {
    padding: 30px;
     } 
  .car-info h3 {
     font-size: 16px;
     }   
  .car-info p, .car-info .price { 
    font-size: 14px;
   } 
   .filter-buttons {
     flex-direction: column; gap: 5px; 
    } 
    .filter-button { 
      padding: 8px 15px;
       font-size: 14px;
     } 
   }

@media (min-width: 1024px) {
  .title-content {
    font-size: 72px;
  }
  .button-content {
    font-size: 16px;
  }
}
/* Responsive footer */
@media (max-width: 768px) {
  .footer {
    padding: 30px 15px;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    margin: 10px 0;
    min-width: auto;
    text-align: center;
  }
  .footer__logo {
    justify-content: center;
  }
  .footer__social {
    justify-content: center;
  }
}
.footer__content {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}
.footer__logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.footer__logo i {
  margin-right: 10px;
}
.footer__description {
  margin-top: 10px;
  font-size: 1em;
  color: #b3b3b3;
}
.footer__title {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__links {
  list-style: none;
  padding: 0;
}
.footer__links li {
  margin: 5px 0;
}
.footer__links a {
  color: #b3b3b3;
  text-decoration: none;
}
.footer__links a:hover {
  color: #cc0000;
}
.footer__social {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer__social-link {
  font-size: 1.5em;
  margin: 0 10px;
  color: #b3b3b3;
  text-decoration: none;
}
.footer__social-link:hover {
  color: #cc0000;
}
.footer__copy {
  text-align: center;
  padding: 20px;
  color: #b3b3b3;
  font-size: 0.8em;
}
.footer__dev-link {
  color: #b3b3b3;
  text-decoration: none;
}
.footer__dev-link:hover {
  color: #cc0000;
}
/*Supriority responsive*/
@media (max-width: 1024px){
   .superiority {
    padding: 3rem 20px; 
  } 
  .superiority h2{
    font-size: 1.75rem; 
  }
  .superiority-item { 
    flex: 1 1 calc(50% - 1.5rem); 
  } 
}
@media (max-width: 768px){ 
  .superiority {
   padding: 2rem 10px;
  } 
   .superiority h2 { font-size: 1.5rem; } .superiority-item { flex: 1 1 calc(100% - 1.5rem); } } @media (max-width: 480px) { .superiority { padding: 1.5rem 5px; } .superiority h2 { font-size: 1.25rem; } .superiority-item { flex: 1 1 calc(100% - 1.5rem); } .superiority-item h3 { font-size: 1.25rem; } .superiority-item p { font-size: 0.875rem; } }









